body {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    color:#333;
    font-family:Arial, sans-serif;
  }
  
  main {
    display: flex;
    flex-direction: row;
    flex: auto;
  }

  article {
    flex: 2;
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius:20px;
    box-shadow: 0 5px rgba(0, 0, o, 0.1);
  }
  
  aside {
    flex: 1;
  }
    
  article,
aside {
  overflow-y: auto;
}

header {
  background-color: #fff;
  padding: 20px;
}

.logo {
  font-size: 24px;
}